# Map Function

map() applies a function to every item in a list (or iterable).

It returns a new map object (we usually convert it to a list).

## Syntax

map(function, iterable)

function → what operation you want to perform

iterable → list, tuple, etc.

#### Example 1: Square of Numbers

In [1]:
numbers = [1, 2, 3, 4]

result = map(lambda x: x * x, numbers)
print(list(result))

[1, 4, 9, 16]

#### Example 2: Convert to Uppercase

In [2]:
names = ["rahul", "aman", "priya"]

result = map(str.upper, names)
print(list(result))

['RAHUL', 'AMAN', 'PRIYA']

#### Example 3: Add 10 to Every Number

In [3]:
numbers = [5, 10, 15]

result = map(lambda x: x + 10, numbers)
print(list(result))

[15, 20, 25]

#### Example 4: Using Normal Function

In [4]:
def double(x):
    return x * 2

numbers = [1, 2, 3]

result = map(double, numbers)
print(list(result))

[2, 4, 6]

#### Example 5: Map with Multiple Lists

In [5]:
a = [1, 2, 3]
b = [4, 5, 6]

result = map(lambda x, y: x + y, a, b)
print(list(result))

[5, 7, 9]